<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="www/javascripts/app/app.js">
  
</file>



<file name="www/javascripts/app/collections/example.js">
  
</file>



<file name="www/javascripts/app/helpers/analytics.js">
  
  <error
    line="81"
    severity="warning"
    message="Cyclomatic: 5,
    Halstead: 15.667
    | Effort: 6611.2
    | Volume: 421.99
    | Vocabulary: 30"
    source="extractParamFromUri"
    />
  
  <error
    line="139"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 12.632
    | Effort: 4568.3
    | Volume: 361.66
    | Vocabulary: 31"
    source="&lt;anonymous&gt;"
    />
  
</file>



<file name="www/javascripts/app/main.js">
  
</file>



<file name="www/javascripts/app/models/example.js">
  
</file>



<file name="www/javascripts/app/routers/router.js">
  
</file>



<file name="www/javascripts/app/views/example.js">
  
</file>



</checkstyle>
