//----------------------------------------------------------------------
// VARIABLES (keep all variable declarations here)
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Viewport Sizes
//----------------------------------------------------------------------

$WIDTH_MEDIUM: 640px;
$WIDTH_LARGE: 960px;

//----------------------------------------------------------------------
// Fonts
//----------------------------------------------------------------------

$FONT_FAMILY_PRIMARY: 'Helvetica', Arial, sans-serif;

$FONT_SIZE_BASE: 10px; // easier to calculate using rem mixin with px fallback
$FONT_SIZE_BASE_INT: 10;

$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;

//----------------------------------------------------------------------
// Colors
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Z-Index
//----------------------------------------------------------------------
