/* ---------------------------------------------------------------------
 Grid (12 column)
------------------------------------------------------------------------ */

.grid-col_1of12 { width: 8.333333333333%; }
.grid-col_2of12 { width: 16.666666666667%; }
.grid-col_3of12 { width: 25%; }
.grid-col_4of12 { width: 33.333333333333%; }
.grid-col_5of12 { width: 41.666666666667%; }
.grid-col_6of12 { width: 50%; }
.grid-col_7of12 { width: 58.333333333333%; }
.grid-col_8of12 { width: 66.666666666667%; }
.grid-col_9of12 { width: 75%; }
.grid-col_10of12 { width: 83.333333333333%; }
.grid-col_11of12 { width: 91.666666666667%; }
.grid-col_12of12 { width: 100%; }